extends layout

block content
    div.login
        a.appended(href="#")
    div.pass
        a(href="/login") <i class="fa fa-user"></i>  Login

    div.window.area
        div.container
            div.input1.area
                h2 What is your name?
                input.appender(type="text", autofocus)
                a.submits(href="#") enter
            div.input2.area
                div.appenderAge
                    input(type="text", placeholder="How old are you?")
                    a.submitsAge(href="#") enter
                    p.errAge Please, type only numeric characters
                h2 Hi 
                    span.appended2
                |welcome to Normal Questions

                h3 Everyone is different
                    span ...but how much?
                p.canva1p
                a.canva1a(href="#") continue

                canvas#chart(width="600", height="600")

            div.input3.area
                h2 Great!
                h5 now choose which option describes you best

                ul.gender
                    li
                        a.male(href="#") Male
                    li
                        a.female(href="#") Female
                h3
                h4
                a.canva2a(href="#") continue

                canvas#ageChart(width="500", height="500")

            div.input4.area
                h2 We like analytics and privacy
                    span as well as animations
                h3 Do you want to experience how awesome your stats can look like?
                a.register(href="#") Register
            
            div.input5.area
                h1 Welcome to Normal Questions

                if(message.length > 0)
                    div #{ message }

                form(method="post", action="/newUser")
                    input#fname(type="text", name="firstName", placeholder="First Name")

                    input#gender(type="hidden", name="gender")

                    input(type="text", name="loginName", placeholder="Login Name")

                    input(type="text", name="email", placeholder="Email")

                    input(type="password", name="password", placeholder="Password")

                    input.submit(type="submit", value="Register")

                ul
                    li
                        a.facebook(href="#") Facebook login
                    li
                        a.twitter(href="#") Twitter login
                    li
                        a.linkedin(href="#") LinkedIn Login