doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body

        block content

        div.bottom

        script(src="/javascripts/jquery-1.9.1.min.js")
        script(src="/javascripts/Chart.min.js")
        script(src="/javascripts/app.js")