extends layouts/layout

block content
    div.window.area
        div.container
            div.input5.area.show
                h1 Welcome to Normal Questions

                if(message.length > 0)
                    div #{ message }

                form(method="post", action="/newUser")
                    input#fname(type="text", name="firstName", placeholder="First Name")

                    input#gender(type="hidden", name="gender")

                    input(type="text", name="loginName", placeholder="Login Name")

                    input(type="text", name="email", placeholder="Email")

                    input(type="password", name="password", placeholder="Password")

                    input.submit(type="submit", value="Register")

                ul
                    li
                        a.facebook(href="/auth/facebook") <i class="fa fa-facebook"></i> Facebook Login
                    li
                        a.twitter(href="/auth/twitter") <i class="fa fa-twitter"></i> Twitter Login
                    li
                        a.google(href="/auth/google") <i class="fa fa-google-plus"></i> Google Login