h1 Add local profile login info

if(message.length > 0)
    div #{ message }


 form(method="post", action="/users/edit")
    input(type="text", name="email", placeholder="email", value="#{user.email}")
    br
    input(type="password", name="password", placeholder="password")
    br
    input(type="submit", value="Adicionar senha")